# Base requirements
nuplan-devkit @ git+https://github.com/motional/nuplan-devkit/@nuplan-devkit-v1.2
positional-encodings==6.0.1
aioboto3
aiofiles
bokeh==2.4.3
control==0.9.1
Fiona
geopandas>=0.12.1
# guppy3==3.1.2
hydra-core==1.2.0
joblib
matplotlib
nest_asyncio
numpy<2
opencv-python==4.9.0.80
pandas
Pillow
psutil
pyarrow
pyinstrument
pyogrio
pyquaternion>=0.9.5
rasterio
ray
retry
rtree
scipy
selenium
setuptools==65.5.1
Shapely>=2.0.0
SQLAlchemy==1.4.27
sympy
tornado
tqdm
ujson
diffusers
torch
torchvision
pytorch-lightning
tensorboard==2.16.2
protobuf==4.25.3
notebook
timm==0.9.12

# InternVL requirements
transformers==4.37.2
tokenizers==0.15.1
sentencepiece==0.1.99
shortuuid
accelerate
peft==0.7.1
bitsandbytes==0.41.0
pydantic
markdown2[all]
scikit-learn>=1.2.2
gradio==3.35.2
gradio_client==0.2.9
requests
# httpx==0.24.0
uvicorn
fastapi
deepspeed==0.13.5
einops
einops-exts

# TPU / Torchax requirements
git+https://github.com/google/torchax
optax==0.2.2
chex==0.1.86
flax==0.8.4
# jax[tpu]==0.4.28
decord
imageio
datasets

# Vertex AI requirements
google-cloud-aiplatform==1.128.0
gcsfs==2025.10.0