# Base requirements
numpy<2
opencv-python==4.9.0.80
pandas
Pillow
pyarrow
scikit-learn>=1.2.2
setuptools==65.5.1
psutil
tqdm
hydra-core==1.2.0
psutil
tqdm
ujson
torch
torchvision
tensorboard==2.16.2
protobuf==4.25.3
timm==0.9.12

# InternVL requirements
transformers==4.37.2
tokenizers==0.15.1
sentencepiece==0.1.99
accelerate
peft==0.7.1
requests
# httpx==0.24.0
einops
einops-exts

# TPU / Torchax requirements
git+https://github.com/google/torchax
optax==0.2.2
chex==0.1.86
flax==0.8.4
# jax[tpu]==0.4.28
decord
imageio
datasets

# Vertex AI requirements
google-cloud-aiplatform==1.128.0
gcsfs==2025.10.0